body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    /* 상단 정렬 */
    min-height: 100vh;
}

.main-container {
    display: flex;
    align-items: flex-start;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 600px;
    max-width: 100%;
    margin-top: 20px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.form-container {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-gap: 10px;
    margin-bottom: 20px;
}

label {
    align-self: center;
}

input {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

button {
    grid-column: span 2;
    padding: 10px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.results {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
}

.result-section {
    display: flex;
    flex-direction: column;
}

.result-section h2 {
    margin: 0 0 10px;
}

.result-box {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.result {
    flex: 1;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f4f4f4;
}

.copy-button {
    padding: 10px;
    margin-left: 10px;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.copy-button:hover {
    background-color: #218838;
}

.ad-container {
    margin-top: 20px;
    margin-left: 20px;
    text-align: center;
}

.kakao_ad_area {
    display: inline-block;
}